.main-div {
  width: 50vw;
  border: 1px solid black;
  height: fit-content;
  margin: 50px auto;
  padding: 20px;
}

.child-div {
  width: 25vw;
  margin: 10px auto;
  padding: 20px;
}

figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}